@model CarRepairApp.Models.OrderStructureModel

@{
    ViewBag.Title = "OrderDetail3";
}

<h2>OrderDetail3</h2>

<div>
    <h4>OrderStructure</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
